<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Tatademy</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Feather CSS -->
		<link rel="stylesheet" href="assets/css/feather.css">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

		<!-- Bootstrap Tagsinput CSS -->
		<link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-page">
				<div class="header-fixed">
					<nav class="navbar navbar-expand-lg header-nav scroll-sticky">
						<div class="container ">
							<div class="navbar-header">
								<a id="mobile_btn" href="javascript:void(0);">
									<span class="bar-icon">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</a>
								<a href="index.html" class="navbar-brand logo">
									<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
								</a>
							</div>
							<div class="main-menu-wrapper">
								<div class="menu-header">
									<a href="index.html" class="menu-logo">
											<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
										</a>
									<a id="menu_close" class="menu-close" href="javascript:void(0);">
											<i class="fas fa-times"></i>
										</a>
								</div>
								<ul class="main-nav">
									<li class="has-submenu">
										<a class="" href="index.html">Inicio</a>
									</li>
									<li class="has-submenu">
										<a class="" href="course-grid.html">Cursos</a>
									</li>
									<li class="has-submenu active">
										<a href="">Administrador<i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="instructor-manager.html">Perfil</a></li>
											<li><a href="add-course.html">Crear Curso</a></li>
											<li><a href="instructor-edit-profile.html">Gestionar Usuarios</a></li>
											
											<li><a href="instructor-dashboard.html">Estadísticas</a></li>
											<li><a href="instructor-security.html">Seguridad Cuenta</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="">Estudiante<i class="fas fa-chevron-down"></i></a>
										<ul class="submenu first-submenu">
											<li><a href="setting-edit-profile.html">Perfil</a></li>
											<li><a href="my-course-list.html">Mis Cursos</a></li>
											<li><a href="setting-student-security.html">Seguridad Cuenta</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="faq.html">FAQ</a>
									</li>
								</ul>
							</div>

							<ul class="nav header-navbar-rht">
								<li class="nav-item user-nav">
									<a>Mi perfil</a>
								</li>
								<li class="nav-item user-nav">
									<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
										<span class="user-img">
											<img src="assets/img/instructor/profile-avatar.jpg" alt="">
											<span class="status online"></span>
										</span>
									</a>
									<div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end" >
										<div class="user-header">
											<div class="avatar avatar-sm">
												<img src="assets/img/instructor/profile-avatar.jpg" alt="User Image" class="avatar-img rounded-circle">
											</div>
											<div class="user-text">
												<h6>Jenny Wilson</h6>
												<p class="text-muted mb-0">Administrador</p>
											</div>
										</div>
										<a class="dropdown-item" href="instructor-manager.html"><i class="feather-home me-1"></i> Panel de control</a>
										<a class="dropdown-item" href="instructor-edit-profile.html"><i class="feather-star me-1"></i> Editar perfil</a>
										<a class="dropdown-item" href="index.html"><i class="feather-log-out me-1"></i> Cerrar sesión</a>
									</div>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<!-- /Header -->		
			
			<!-- New Course -->
			<section class="page-content course-sec">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="add-course-header">
								<h2>Añadir nuevo curso</h2>
								<div class="add-course-btns">
									<ul class="nav">
										<li>
											<a href="instructor-manager.html" class="btn btn-dark">Atrás</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="btn btn-success-dark">Guardar</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">

								<!-- Course Wizard -->
								<div class="widget-set">
									<div class="widget-setcount">
										<ul id="progressbar">
											<li class="progress-active">
												<p><span></span> Informacion basica</p>											
											</li>
											<li>
												<p><span></span> Presentación del curso</p>
											</li>
											<li>
												<p><span></span> Curricula</p>												
											</li>
											<li>
												<p><span></span> Ajustes</p>												
											</li>
										</ul>
									</div>
									<div class="widget-content multistep-form">
										<fieldset id="first">
											<div class="add-course-info">
												<div class="add-course-inner-header">
													<h4>Informacion basica</h4>
												</div>
												<div class="add-course-form">
													<form action="#">
														<div class="input-block">
															<label class="add-course-label">Titulo del curso</label>
															<input type="text" class="form-control" placeholder="Titulo del curso">
														</div>
														<div class="input-block">
															<label class="add-course-label">Categoría</label>
															<select class="form-control select">
																<option>Categoria 01</option>
																<option>Categoria 02</option>
																<option>Categoria 03</option>
																<option>Categoria 04</option>
															</select>
														</div>
														<div class="input-block">
															<label class="add-course-label">Nivel del curso</label>
															<select class="form-control select">
																<option>Nivel 01</option>
																<option>Nivel 02</option>
																<option>Nivel 03</option>
																<option>Nivel 04</option>
															</select>
														</div>
														<div class="input-block mb-0">
															<label class="add-course-label">Descripcion</label>
															<div id="editor"></div>
														</div>
													</form>
												</div>
												<div class="widget-btn">
													<a class="btn btn-black">Atrás</a>
													<a class="btn btn-info-light next_btn">Siguiente</a>
												</div>
											</div>
										</fieldset>
										<fieldset class="field-card">
											<div class="add-course-info">
												<div class="add-course-inner-header">
													<h4>Presentación del curso</h4>
												</div>
												<div class="add-course-form">
													<form action="#">
														<div class="input-block">
															<label class="add-course-label">Portada</label>
															<div class="relative-form">
																<span>No se seleccionó archivo</span>
																<label class="relative-file-upload">
																	Subir archivo <input type="file">
																</label>
															</div>
														</div>
														<div class="input-block">
															<div class="add-image-box">
																<a href="javascript:void(0);">
																	<i class="far fa-image"></i>
																</a>
															</div>
														</div>
														<div class="input-block">
															<input type="text" class="form-control" placeholder="Video URL">
														</div>
														<div class="input-block">
															<div class="add-image-box add-video-box">
																<a href="javascript:void(0);">
																	<i class="fas fa-circle-play"></i>
																</a>
															</div>
														</div>
													</form>
												</div>
												<div class="widget-btn">
													<a class="btn btn-black prev_btn">Atrás</a>
													<a class="btn btn-info-light next_btn">Siguiente</a>
												</div>
											</div>
										</fieldset>
										<fieldset class="field-card">
											<div class="add-course-info">
												<div class="add-course-inner-header">
													<h4>Curricula</h4>
												</div>
												<div class="add-course-section">
													<a href="javascript:void(0);" class="btn">Añadir unidad</a>
												</div>
												<div class="add-course-form">
													<div class="curriculum-grid">
														<div class="curriculum-head">
															<p>Unidad 1: Ejemplo</p>
															<a href="javascript:void(0);" class="btn">Añadir clase</a>
														</div>
														<div class="curriculum-info">
															<div id="accordion">
																<div class="faq-grid">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseOne">
																			 <i class="fas fa-align-justify"></i> Clase 1
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseOne" class="collapse" data-bs-parent="#accordion">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripccion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
																<div class="faq-grid">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseTwo">
																			 <i class="fas fa-align-justify"></i> Clase 2
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripccion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
																<div class="faq-grid mb-0">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseThree">
																			 <i class="fas fa-align-justify"></i> Clase 3
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseThree" class="collapse" data-bs-parent="#accordion">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripccion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="curriculum-grid mb-0">
														<div class="curriculum-head">
															<p>Unidad 2: Ejemplo</p>
															<a href="javascript:void(0);" class="btn">Añadir Clase</a>
														</div>
														<div class="curriculum-info">
															<div id="accordion-one">
																<div class="faq-grid">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour">
																			 <i class="fas fa-align-justify"></i> Clase 1
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseFour" class="collapse" data-bs-parent="#accordion-one">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripcion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
																<div class="faq-grid">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFive">
																			 <i class="fas fa-align-justify"></i> Clase 2
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseFive" class="collapse" data-bs-parent="#accordion-one">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripcion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
																<div class="faq-grid">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseSix">
																			 <i class="fas fa-align-justify"></i> Clase 3
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseSix" class="collapse" data-bs-parent="#accordion-one">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripcion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
																<div class="faq-grid mb-0">
																	<div class="faq-header">
																		<a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseSeven">
																			 <i class="fas fa-align-justify"></i> Clase 4
																		</a>
																		<div class="faq-right">
																			<a href="javascript:void(0);">
																				<i class="far fa-pen-to-square me-1"></i>
																			</a>
																			<a href="javascript:void(0);" class="me-0">
																				<i class="far fa-trash-can"></i>
																			</a>
																		</div>
																	</div>
																	<div id="collapseSeven" class="collapse" data-bs-parent="#accordion-one">
																		<div class="faq-body">
																		  	<div class="add-article-btns">
																		  		<a href="javascript:void(0);" class="btn">Añadir Articulo</a>
																		  		<a href="javascript:void(0);" class="btn me-0">Añadir Descripcion</a>
																		  	</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="widget-btn">
													<a class="btn btn-black prev_btn">Anterior</a>
													<a class="btn btn-info-light next_btn">Siguiente</a>
												</div>
											</div>
										</fieldset>
										<fieldset class="field-card">
											<div class="add-course-info">
												<div class="add-course-inner-header">
													<h4>Requerimientos</h4>
												</div>
												<div class="add-course-form">
													<form action="#">
														<div class="input-block input-block-tagsinput">
															<input type="text" data-role="tagsinput" class="input-tags form-control" name="html" value="jquery, bootstrap" id="html">
														</div>
													</form>
												</div>
												<div class="widget-btn">
													<a class="btn btn-black prev_btn">Anterior</a>
													<a class="btn btn-info-light next_btn">Siguiente</a>
												</div>
											</div>
										</fieldset>
										<fieldset class="field-card">
											<div class="add-course-info">
												<div class="add-course-msg">
													<i class="fas fa-circle-check"></i>
													<h4>El curso se ha creado correctamente</h4>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
								<!-- /Course Wizard -->

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /New Course -->
			
			<!-- Footer -->
			<footer class="footer">

				<!-- Footer Top -->
				<div class="footer-top" data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-8">
	
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/logo.svg" alt="logo">
									</div>
									<div class="">
										<p>
											Descubre cursos gratuitos en Tatademy. Aprende a tu propio ritmo, desde cualquier lugar. ¡Únete a nuestra comunidad hoy!
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
	
							</div>
	
							<div class="col-lg-2 col-md-6">
	
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Enlace útiles</h2>
									<ul>
										<li><a href="course-grid.html">Cursos</a></li>
										<li><a href="login.html">Iniciar sesión</a></li>
										<li><a href="register.html">Registrarse</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
	
							</div>
	
							<div class="col-lg-4 col-md-6">
	
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contacto</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<img src="assets/img/icon/icon-20.svg" alt="" class="img-fluid">
											<p> C. Tulipán, s/n, Móstoles<br> Madrid, 28933</p>
										</div>
										<p>
											<img src="assets/img/icon/icon-19.svg" alt="" class="img-fluid">
											<a href="mailto:tatademy@gmail.com">tatademy@gmail.com</a>
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
	
							</div>
	
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
	
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="container">
	
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6">
									<div class="privacy-policy">
										<ul>
											<li><a href="term-condition.html">Terminos y condiciones</a></li>
											<li><a href="privacy-policy.html">Política de privacidad</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2024 DAW G1. Todos los derechos reservados.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
	
					</div>
				</div>
				<!-- /Footer Bottom -->
	
			</footer>
			<!-- /Footer -->
		   
		</div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>

		<!-- Select2 JS -->
	  	<script src="assets/plugins/select2/js/select2.min.js"></script>

	  	<!-- Ckeditor JS -->
	  	<script src="assets/js/ckeditor.js"></script>

	  	<!-- Bootstrap Tagsinput JS -->
		<script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>