{{>header}}
			
<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-12">
							<div class="breadcrumb-list">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">Inicio</a></li>
										<li class="breadcrumb-item active" aria-current="page">Buscar cursos</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			


			<!-- Course -->
			<section class="course-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-9">
						
							<!-- Filter -->
							<div class="showing-list">
								<div class="row">
									<div class="col-lg-8">	
										<div class="show-filter add-course-info ">
											<form action="course-search" id="search-form">
												<div class="row gx-2 align-items-center">	
													<div class="col-md-6 col-item">
														<div class=" search-group">
															<i class="feather-search"></i>
															<input type="text" class="form-control" placeholder="Buscar cursos" name="name" value="{{search}}">
														</div>
													</div>
													<div class="col-md-6 col-lg-6 col-item">
														<div class="input-block select-form mb-0">
																<select class="form-select" name="sellist1" id="options">
															  		<option {{newest}}>Publicado recientemente</option>
															  		<option {{valoration}}>Valoración</option>
															  		<option {{mostReviewed}}>Más veces valorado</option>
																</select>
														</div>
													</div>						
												</div>
											</form>
										</div>	
									</div>
									
								</div>
							</div>
							<!-- /Filter -->
							
							<div class="row">
								{{#courses}}
								<div class="col-lg-4 col-md-6 d-flex">
									<div class="course-box course-design d-flex " >
										<div class="product">
											<div class="product-img">
												<a href="course-details.html">
													<img class="img-fluid" alt="" src="{{2}}">
												</a>
											</div>
											<div class="product-content">
												<h3 class="title"><a href="course-details.html">{{0}}</a></h3>
												<div class="course-info d-flex align-items-center">
													<div class="rating-img d-flex align-items-center">
														<!--<img src="assets/img/icon/icon-01.svg" alt="">
														<p>12+ Lecciones</p>-->
													</div>
													<div class="course-view d-flex align-items-center">
														<!--<img src="assets/img/icon/icon-02.svg" alt="">
														<p>9hr 30min</p>-->
													</div>
												</div>
												<div class="rating">
													{{#stars}}
                            							{{#filled}}<i class="fas fa-star filled"></i>{{/filled}}
                            							{{^filled}}<i class="fas fa-star"></i>{{/filled}}
                        							{{/stars}}
													<span class="d-inline-block average-rating"><span>{{3}}</span> ({{1}})</span>
												</div>
												<div class="all-btn all-category d-flex align-items-center">
													<a href="course-details.html" class="btn btn-primary">Inscribirse</a>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								{{/courses}}
							</div>
						</div>
						<div class="col-lg-3 theiaStickySidebar">
							<div class="filter-clear">
								<div class="clear-filter d-flex align-items-center">
									<h4><i class="feather-filter"></i>Filtrar</h4>
								</div>
								
								<!-- Search Filter -->
								<div class="card search-filter">
									<div class="card-body">
										<div class="filter-widget mb-0">
											<div class="categories-head d-flex align-items-center">
												<h4>Categorías de cursos</h4>
												<i class="fas fa-angle-down"></i>
											</div>
											<form action="course-filter">
												{{#filters}}
												<div>
													<label class="custom_check">
														<input type="checkbox" name="{{0}}" {{1}}>
														<span class="checkmark"></span> {{0}}
													</label>
												</div>
												{{/filters}}
												<button type="submit" class="btn btn-primary">Filtrar</button>
											</form>
										</div>
									</div>
								</div>
								<!-- /Search Filter -->
								
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Course -->
			
{{>footer}}