{{>header}}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<div class="breadcrumb-list">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item active" aria-current="page">Buscar cursos</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->




<!-- Course -->
<section class="course-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">

				<!-- Filter -->
				<div class="showing-list">
					<div class="row">
						<div class="col-lg-4 align-self-center">
							<div class="d-flex align-items-center">
								<div class="show-result">
									
									
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="show-filter add-course-info ">
								<form action="course-search-admin" id="search-form" accept-charset="utf-8">
									<div class="row gx-2 align-items-center">
										<div class="col-md-6 col-item">
											<div class=" search-group">
												<i class="feather-search"></i>
												<input type="text" class="form-control" placeholder="Buscar cursos"
													name="name" value="{{search}}" id="searcher">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				<!-- /Filter -->

				<div class="row" id="courses">

				</div>
				<button id="more-courses" class="btn btn-primary">Cargar más cursos</button>
			</div>
			<div class="col-lg-3 theiaStickySidebar">
				<div class="filter-clear">
					<div class="clear-filter d-flex align-items-center">
					</div>
					{{#delete}}
					<form action="new/course">
						<button class="btn btn-primary" id="admin">Añadir curso</button>
					</form>
					{{/delete}}

				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Course -->
<script src="assets/js/course-script.js"></script>
<script src="js/src/gettingContentCourses.js"></script>
{{>footer}}