{{>header}}				
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-12">
							<div class="breadcrumb-list" style="text-align: center">
								<nav aria-label="breadcrumb" class="page-breadcrumb">


									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">Inicio</a></li>
										<li class="breadcrumb-item"><a href="/course-grid">Buscar cursos</a></li>
										<li class="breadcrumb-item" aria-current="page" style="margin-right: 200px">The Complete Web Developer Course 2.0</li>
									</ol>

									
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Inner Banner -->
			<div class="inner-banner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="instructor-wrap border-bottom-0 m-0">
								
								<span class="web-badge mb-3">{{courseCategory}}</span>
							</div>
							<h2>{{courseName}}</h2>
							<p>Learn Web Development by building 25 websites and mobile apps using HTML, CSS, Javascript, PHP, Python, MySQL & more!</p>
							<div class="about-instructor align-items-center">								
								<div class="rating mb-0">							
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star"></i>
									<span class="d-inline-block average-rating"><span>4.5</span> (15)</span>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</div>
			<!-- /Inner Banner -->
			
			<!-- Course Content -->
			<section class="page-content course-sec">
				<div class="container">
				
					<div class="row">
						<div class="col-lg-8">
						
							<!-- Overview -->
							<div class="card overview-sec">
								<div class="card-body">
									<h5 class="subs-title">Acerca del curso</h5>
									<h6>Descripción del curso</h6>
									<p>{{courseDescription}}</p>
								</div>
							</div>
							<!-- /Overview -->
							
							<!-- Course Content -->
							<div class="card content-sec">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-6">
											<h5 class="subs-title">Contenido del curso</h5>
										</div>
									</div>
									<div class="course-card">
										<h6 class="cou-title">
											<a class="collapsed" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="false">In which areas do you operate?</a>
										</h6>
										<div id="collapseOne" class="card-collapse collapse">
											<ul>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.1 Introduction to the User Experience Course</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.2 Exercise: Your first design challenge</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.5 How to use text layers effectively</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="course-card">
										<h6 class="cou-title">
											<a class="collapsed" data-bs-toggle="collapse" href="#course2" aria-expanded="false">The Brief</a>
										</h6>
										<div id="course2" class="card-collapse collapse">
											<ul>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.1 Introduction to the User Experience Course</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.2 Exercise: Your first design challenge</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.5 How to use text layers effectively</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="course-card">
										<h6 class="cou-title">
											<a class="collapsed" data-bs-toggle="collapse" href="#course3" aria-expanded="false">Wireframing Low Fidelity</a>
										</h6>
										<div id="course3" class="card-collapse collapse">
											<ul>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.1 Introduction to the User Experience Course</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.2 Exercise: Your first design challenge</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture1.5 How to use text layers effectively</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="course-card">
										<h6 class="cou-title mb-0">
											<a class="collapsed" data-bs-toggle="collapse" href="#coursefour" aria-expanded="false">Type, Color & Icon Introduction</a>
										</h6>
										<div id="coursefour" class="card-collapse collapse">
											<ul>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture4.1 Introduction to the User Experience Course</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture4.2 Exercise: Your first design challenge</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture4.3 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture4.4 How to solve the previous exercise</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
												<li>
													<p><img src="assets/img/icon/play.svg" alt="" class="me-2">Lecture4.5 How to use text layers effectively</p>
													<div>
														<a href="javascript:void(0);">Preview</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- /Course Content -->
							
							<!-- Reviews -->
							<div class="card review-sec">
								<div class="card-body">
									<h5 class="subs-title">Reseñas</h5>
									<div class="instructor-wrap">
										<div class="about-instructor">
											<div class="abt-instructor-img">
												<a href="instructor-profile"><img src="assets/img/user/user1.jpg" alt="img" class="img-fluid"></a>
											</div>
											<div class="instructor-detail">
												<h5><a href="instructor-profile">Nicole Brown</a></h5>
												<p>UX/UI Designer</p>
											</div>
										</div>
										<div class="rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">4.5 Instructor Rating</span>
										</div>
									</div>
									<p class="rev-info">“ This is the second Photoshop course I have completed with Cristian. Worth every penny and recommend it highly. To get the most out of this course, its best to to take the Beginner to Advanced course first. The sound and video quality is of a good standard. Thank you Cristian. “</p>
									<a href="javascript:void(0);" class="btn btn-reply"><i class="feather-corner-up-left"></i> Responder </a>
								</div>
							</div>
							<!-- /Reviews -->

							<!-- Comment -->
							<div class="card comment-sec">
								<div class="card-body">
									<h5 class="subs-title">Escribe tu reseña</h5>
									<form>
										<div class="row">
											<div class="col-md-6">
												<div class="input-block">
													<input type="text" class="form-control" placeholder="Nombre completo">
												</div>
											</div>
											<div class="col-md-6">
												<div class="input-block">
													<input type="email" class="form-control" placeholder="Email">
												</div>
											</div>
										</div>
										<div class="input-block">
											<input type="email" class="form-control" placeholder="Asunto">
										</div>
										<div class="input-block">
											<textarea rows="4" class="form-control" placeholder="Tus comentarios"></textarea>
										</div>
										<div class="submit-section">
											<button class="btn submit-btn" type="submit">Enviar</button>
										</div>
									</form>
								</div>
							</div>
							<!-- /Comment -->
							
						<!-- Inscription -->
							<div class="card">
								<div class="card-body">
									<div class="row">
										{{#joined}}
										<button class="btn btn-enroll w-100" subclass="active"> Inscrito </button>
										{{/joined}}
										{{^joined}}
										<form action="/joinCourse/{{courseName}}">
											<input class="btn btn-enroll w-100" type="submit" value="Inscribirse">
										</form>
										{{/joined}}
									</div>
								</div>
							</div>
						</div>	
					<!-- /Inscription -->
					
					{{>recommendedCourses}}	
							
{{>footer}}