<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Tatademy</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Feather CSS -->
		<link rel="stylesheet" href="assets/css/feather.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			{{>header}}
			
			<!--Dashbord Student -->
			<div class="page-content">
				<div class="container">
					<div class="row">
						
					
						
						<!-- Profile Details -->
						{{#user}}
						<div class="col-md-12">	
							<div class="settings-widget profile-details">
								<div class="settings-menu p-0">
									<div class="profile-heading">
										<h3>Detalles de perfil</h3>
										
									</div>
									<div class="course-group mb-0 d-flex">
										<div class="course-group-img d-flex align-items-center">
											<a href="setting-edit-profile">
												{{#image}}
												<img src="{{image}}" alt="">
												{{/image}}
												{{^image}}
												<img src="/assets/img/user/default-user-icon.jpg" alt="">
												{{/image}}
											</a>
											<div class="course-name">
												<h4><a href="setting-edit-profile">Avatar</a></h4>
												<p>PNG o JPG máximo 800px ancho y alto.</p>
											</div>
										</div>
										<div class="profile-share d-flex align-items-center justify-content-center">
											{{#image}}
										
												<button onclick="deletePhoto('{{id}}')" class="btn btn-danger"> Eliminar </button>
										
											{{/image}}
										</div>
									</div>
									<div class="checkout-form personal-address add-course-info ">
										<form action="/admin/user/profile" method="post" enctype="multipart/form-data">
										<div class="input-block">
											<input type="hidden" value="{{id}}" name="id">
											<label class="add-course-label">Seleccione una foto de perfil</label>
											<div class="relative-form">
												<span id="filesImages-choosen">No se seleccionó archivo</span>
												<label class="relative-file-upload">
													Subir archivo <input id="image" name="fileImage" type="file" enctype accept="image/jpeg, image/png">
												</label>
											</div>
										</div>
										<div class="personal-info-head">
											<h4>Información personal</h4>
										</div>
										
											<div class="row">
												<div class="col-lg-6">
													<div class="input-block">
														<label class="form-control-label">Nombre</label>
														<input type="text" name="name" class="form-control" value="{{name}}">
													</div>
												</div>
												
												<div class="col-lg-6">
													<div class="input-block">
														<label class="form-control-label">Apellidos</label>
														<input type="text" name="surname" class="form-control" value="{{surname}}">
													</div>
												</div>

												</div>
												<div class="col-lg-6">
													<div class="input-block">
														<label class="form-control-label">Email</label>
														<input type="text" name="email" class="form-control" value="{{email}}">
													</div>
												</div>

												<div class="update-profile">
													<button type="submit" class="btn btn-primary">Actualizar Datos</button>
												</div>
											</div>
											
										
									</form>
									</div>
								</div>
							</div>
						</div>	
						{{/user}}
						<!-- Profile Details -->
					</div>
				</div>
			</div>	
			<!-- /Dashbord Student -->
			
			{{>footer}}
		   
		</div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Select2 JS -->
	  	<script src="assets/plugins/select2/js/select2.min.js"></script>
		
		<!-- Feature JS -->
		<script src="assets/plugins/feather/feather.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		<script src="assets/js/contadorImages.js"></script>
		<script src="/js/src/deletePhoto.js"></script>

		
	</body>
</html>

