{{>header}}
			
			<!-- Breadcrumb -->
			<div class="page-banner">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-12">
							<h1 class="mb-0">Preguntas más frecuentes</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Help Details -->
			<div class="help-sec">
				
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="help-title">
								<h1> Preguntas más frecuentes</h1>
								<p> Estas son las preguntas más frecuentes que podrías tener antes de comenzar</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-6">
						
							<!-- Faq -->							
							<div class="faq-card">
								<h6 class="faq-title">
									<a class="collapsed" data-bs-toggle="collapse" href="#faqone" aria-expanded="false">¿Cuál es el precio de los cursos?</a>
								</h6>
								<div id="faqone" class="collapse">
									<div class="faq-detail">
										<p>¡Todos los cursos son gratuitos!</p>
										<p>No se le puede poner un precio a la educación, ¿verdad?</p>
									</div>
								</div>
							</div>
							
														
							<div class="faq-card">
								<h6 class="faq-title">
									<a class="collapsed" data-bs-toggle="collapse" href="#faqtwo" aria-expanded="false">¿Hay un límite al número de cursos a los que me puedo inscribir?</a>
								</h6>
								<div id="faqtwo" class="collapse">
									<div class="faq-detail">
										<p>No, los límites los pones tú.</p>
										<p>Aun así, recomendamos no iniciar muchos cursos simultáneamente para evitar que alguno quede olvidado.</p>
									</div>
								</div>
							</div>
							
							<!-- /Faq -->
						
						</div>	
						
						<div class="col-lg-6">
						
							<!-- Faq -->							
							<div class="faq-card">
								<h6 class="faq-title">
									<a class="collapsed" data-bs-toggle="collapse" href="#faqfour" aria-expanded="false">¿De qué temas se ofrecen cursos?</a>
								</h6>
								<div id="faqfour" class="collapse">
									<div class="faq-detail">
										<p>Se ofrecen cursos de múltiples índoles, desde historia a Inteligencia Artificial.</p>
										<p>En cualquier caso, puedes acceder a nuestro buscador de cursos para asegurarte que tengamos un curso de tu interes.</p>
									</div>
								</div>
							</div>
							
														
							<div class="faq-card">
								<h6 class="faq-title">
									<a class="collapsed" data-bs-toggle="collapse" href="#faqthree" aria-expanded="false">¿Puedo publicar mis propios cursos?</a>
								</h6>
								<div id="faqthree" class="collapse">
									<div class="faq-detail">
										<p>De momento, solo nuestros selectos expertos pueden crear y publicar cursos.</p>
									</div>
								</div>
							</div>
							
							<!-- /Faq -->
						
						</div>	
					</div>
				</div>
			</div>
			<!-- /Help Details -->
			
{{>footer}}