	<!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            {{#footerWithoutAOS}}
            <div class="footer-top">
            {{/footerWithoutAOS}}
            {{^footerWithoutAOS}}
            <div class="footer-top aos" data-aos="fade-up">
            {{/footerWithoutAOS}}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/logo.svg" alt="logo">
                                </div>
                                <div class="">
                                    <p>
                                        Descubre cursos gratuitos en Tatademy. Aprende a tu propio ritmo, desde cualquier lugar. ¡Únete a nuestra comunidad hoy!
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-2 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Enlace útiles</h2>
                                <ul>
                                    <li><a href="/courses">Cursos</a></li>
                                    <li><a href="/login">Iniciar sesión</a></li>
                                    <li><a href="/register">Registrarse</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-4 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contacto</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <img src="/assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                        <p> C. Tulipán, s/n, Móstoles<br> Madrid, 28933</p>
                                    </div>
                                    <p>
                                        <img src="/assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                        <a href="mailto:tatademy.daw@gmail.com">tatademy.daw@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="privacy-policy">
                                    <ul>
                                        <li><a href="#">Terminos y condiciones</a></li>
                                        <li><a href="#">Política de privacidad</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2024 DAW G1. Todos los derechos reservados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- counterup JS -->
    <script src="/assets/js/jquery.waypoints.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>

    <!-- Select2 JS -->
    <script src="/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Owl Carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>

    <!-- Slick Slider -->
    <script src="/assets/plugins/slick/slick.js"></script>

	<!-- Sticky Sidebar JS -->
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Aos -->
    <script src="/assets/plugins/aos/aos.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>

	<script src="/assets/js/contadorImages.js"></script>
	<script src="/assets/js/contadorContent.js"></script>

	{{#adminUsersEdit}}
	<script src="/assets/js/contadorImages.js"></script>
	{{/adminUsersEdit}}
    {{#materialInput}}
    <script src="/assets/js/src/puttingContent.js"></script>
    {{/materialInput}}
    {{#isEditingCourse}}
    <script src="/assets/js/contadorImages.js"></script>
	<script src="/assets/js/contadorContentAdmin.js"></script>
	{{/isEditingCourse}}
	{{#userEditProfile}}
    <script src="/assets/js/contadorImages.js"></script>
    {{/userEditProfile}}
	<!-- Feature JS -->
	<script src="/assets/plugins/feather/feather.min.js"></script>
	
	<!-- Validation-->
	<script src="/assets/js/validation.js" charset="utf-8"></script>	
	

</body>

</html>