{{>header}}

        <!-- Home Banner -->
        <section class="home-slide d-flex align-items-center">
            <div class="container">
                <div class="row ">
                    <div class="col-md-7">
                        <div class="home-slide-face aos" data-aos="fade-up">
                            <div class="home-slide-text ">
                                <h5>Líder del aprendizaje online</h5>
                                <h1>Cursos online atractivos y accesibles para todos</h1>
                                <p>Domina tu futuro aprendiendo nuevas habilidades en línea</p>
                            </div>
                            <div class="banner-content">
                                <form class="form" action="course-search">
                                    <div class="form-inner">
                                        <div class="input-group">
                                            <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                            <input type="hidden" name="sellist1" value=""/>
                                            <input type="text" class="form-control" placeholder="Busca el curso que quieras" name="name">
                                            <button class="btn btn-primary sub-btn" type="submit"><i class="fas fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div class="girl-slide-img aos" data-aos="fade-up">
                            <img src="assets/img/object.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Home Banner -->
        <section class="section student-course">
            <div class="container">
                <div class="course-widget">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="course-full-width">
                                <div class="blur-border course-radius align-items-center aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="assets/img/pencil-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>Cursos online</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex">
                            <div class="course-full-width">
                                <div class="blur-border course-radius aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="assets/img/cources-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>Aprendizaje de calidad</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex">
                            <div class="course-full-width">
                                <div class="blur-border course-radius aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="assets/img/certificate-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>Cursos excelentes</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex">
                            <div class="course-full-width">
                                <div class="blur-border course-radius aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="assets/img/gratuate-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>Creciente comunidad de estudiantes</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home Banner -->

{{>footer}}