{{>header}}

<!-- Page Wrapper -->
<div class="page-content instructor-page-content">
	<div class="container">
		<div class="row">
			<!-- sidebar -->
			

			<!-- Instructor Dashboard -->
			<div class="col-12">
				<div class="row">
					<div class="col-md-6 d-flex">
						<div class="card instructor-card w-100">
							<div class="card-body">
								<div class="instructor-inner">
									<h6>Matriculaciones</h6>
									<h4 class="instructor-text-info">{{coursesEnroll}}</h4>
									<p>Cifras totales</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex">
						<div class="card instructor-card w-100">
							<div class="card-body">
								<div class="instructor-inner">
									<h6>Valoración media</h6>
									<h4 class="instructor-text-warning">{{starsAverage}}</h4>
									<p>De todos los cursos, hay un total de {{TotalReviews}}
										reseñas</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card instructor-card">
							<div class="card-header">
								<h4>Alta de las matriculaciones en un curso por mes</h4>
							</div>
							<div class="card-body">
								<div id="instructor_chart"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card instructor-card">
							<div class="card-header">
								<h4>Reseñas hechas por mes</h4>
							</div>
							<div class="card-body">
								<div id="order_chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Instructor Dashboard -->

		</div>
	</div>
</div>
<!-- /Page Wrapper -->

{{>footer}}