{{>header}}
			
			<!--Dashbord Student -->
			<div class="page-content" >
				<div class="container" >
					<div class="row" >
						
					
						
						<!-- Profile Details -->
						<div class="col-md-12">	
							<div class="settings-widget profile-details">
								<div class="settings-menu p-0" >
									<div class="profile-heading" style="text-align: center;">
										<h3>Lista de usuarios</h3>
										<p>Aquí puedes ver a todos los usuarios registrados.</p>
										<div class="mt-3 pt-3 border-top">
											<div class="row">
												<div class="col-12">	
													<div class="show-filter add-course-info ">
														<form action="search-user">
															<div class="row align-items-center">	
																<div class="col-12 col-item">
																	<div class=" search-group">
																		<i class="feather-search"></i>
																		<input type="text" class="form-control" placeholder="Buscar usuarios por correo electónico" name="email" value="{{searched}}">
																	</div>
																</div>		
															</div>
														</form>
													</div>	
												</div>
												
											</div>
										</div>
									</div>

									<div id="projects-container"> {{>usersList}}</div>
						
									
									<div class="widget-btn">

										<button  class="btn btn-enroll"id="load-more-btn"> Cargar más usuarios</a>

									</div>

									
								</div>
							</div>
						</div>	
						<!-- Profile Details -->
						
					</div>
				</div>
			</div>	
			<!-- /Dashbord Student -->
			
{{>footer}}