{{>header}}
	<!-- Page Wrapper -->
	<div class="page-content instructor-page-content">
		<div class="container">
			<div class="row">
				
				<!-- Sidebar -->
				<!--<div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
					<div class="settings-widget dash-profile">
						<div class="settings-menu p-0">
							<div class="profile-bg">
								<img src="assets/img/instructor-profile-bg.jpg" alt="">
								<div class="profile-img">
									<img src="assets/img/user/user15.jpg" alt="">
								</div>
							</div>
							<div class="profile-group">
								<div class="profile-name text-center">
									<h4>Jenny Wilson</h4>
									<p>Cuenta de administrador</p>
								</div>
							</div>
						</div>
					</div>
					<div class="settings-widget account-settings">
						<div class="settings-menu">
							<h3>Panel de control</h3>
							<ul>
								<li class="nav-item">
									<a href="instructor-manager.html" class="nav-link">
										<i class="feather-home"></i>Gestión global
									</a>
								</li>
								<li class="nav-item">
									<a href="add-course.html" class="nav-link">
										<i class="feather-book"></i>Crear curso
									</a>
								</li>
								<li class="nav-item">
									<a href="instructor-edit-profile.html" class="nav-link">
										<i class="feather-users"></i>Gestionar estudiantes
									</a>
								</li>
								
								<li class="nav-item active">
									<a href="instructor-dashboard.html" class="nav-link">
										<i class="feather-pie-chart"></i>Estadísticas
									</a>
								</li>
							</ul>
							<div class="instructor-title">
								<h3>Configuración de la cuenta</h3>
							</div>
							<ul>
								<li class="nav-item">
									<a href="instructor-edit-profile2.html" class="nav-link ">
										<i class="feather-settings"></i>Editar perfil
									</a>
								</li>
								<li class="nav-item">
									<a href="instructor-security.html" class="nav-link">
										<i class="feather-user"></i>Seguridad
									</a>
								</li>
								<li class="nav-item">
									<a href="index.html" class="nav-link">
										<i class="feather-power"></i>Cerrar sesión
									</a>
								</li>
							</ul>
						</div>
					</div>					
				</div>-->
				<!-- /Sidebar -->











												<!-- sidebar -->
												<div class="col-xl-3 col-md-4 theiaStickySidebar">
													<div class="settings-widget dash-profile mb-3">
														<div class="settings-menu p-0">
															<div class="profile-bg">
																<img src="/assets/img/profile-bg.jpg" alt="">
																<div class="profile-img">
																	{{#userImage}}
																	<img src="data:image/jpeg;base64,{{userImage}}" alt="{{userName}}">
																	{{/userImage}}
																	{{^userImage}}
																	<img src="/assets/img/user/default-user-icon.jpg" alt="{{userName}}">
																	{{/userImage}}
																</div>
															</div>
															<div class="profile-group">
																<div class="profile-name text-center">
																	<h4><a href="#"></a>{{name}}</h4>
																	<p>Estudiante registrado</p>
																</div>
															</div>
														</div>
													</div>
													<div class="settings-widget account-settings">
														<div class="settings-menu">
															<h3>Ajustes Generales</h3>
															<ul>
																<li class="nav-item active">
																	<a href="#" class="nav-link">
																		<i class="feather-settings"></i> Editar Perfil
																	</a>
																</li>
																<li class="nav-item">
																	<a href="/user/setting-student-security" class="nav-link">
																		<i class="feather-lock"></i> Cambiar contraseña
																	</a>
																</li>
																<li class="nav-item">
																	<a href="/user/setting-student-delete-profile" class="nav-link">
																		<i class="feather-trash-2"></i> Borrar Perfil
																	</a>
																</li>
																
																<li class="nav-item">
																	<a href="/user/logout" class="nav-link">
																		<i class="feather-power"></i> Cerrar Sesión
																	</a>
																</li>
															</ul>
														</div>
													</div>					
												</div>
												<!-- /sidebar -->




















				
				<!-- Instructor Dashboard -->
				<div class="col-xl-9 col-lg-8 col-md-12">	
					<div class="row">
						<div class="col-md-6 d-flex">
							<div class="card instructor-card w-100">
								<div class="card-body">
									<div class="instructor-inner">
										<h6>Estudiantes matriculados</h6>
										<h4 class="instructor-text-info">{{usersEnroll}}</h4>
										<p>Cifras totales</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex">
							<div class="card instructor-card w-100">
								<div class="card-body">
									<div class="instructor-inner">
										<h6>Valoración media</h6>
										<h4 class="instructor-text-warning">{{starsAverage}}</h4>
										<p>De todos los cursos, hay un total de {{TotalReviews}} reseñas</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card instructor-card">
								<div class="card-header">
									<h4>Alta de las matriculaciones en un curso por mes</h4>
								</div>
								<div class="card-body">
									<div id="instructor_chart" ></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card instructor-card">
								<div class="card-header">
									<h4>Reseñas hechas por mes</h4>
								</div>
								<div class="card-body">
									<div id="order_chart"></div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<!-- /Instructor Dashboard -->
				
			</div>
		</div>
	</div>	
	<!-- /Page Wrapper -->
	
	<!-- Footer -->
	<footer class="footer">

		<!-- Footer Top -->
		<div class="footer-top aos" data-aos="fade-up">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8">

						<!-- Footer Widget -->
						<div class="footer-widget footer-about">
							<div class="footer-logo">
								<img src="/assets/img/logo.svg" alt="logo">
							</div>
							<div class="">
								<p>
									Descubre cursos gratuitos en Tatademy. Aprende a tu propio ritmo, desde cualquier lugar. ¡Únete a nuestra comunidad hoy!
								</p>
							</div>
						</div>
						<!-- /Footer Widget -->

					</div>

					<div class="col-lg-2 col-md-6">

						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h2 class="footer-title">Enlace útiles</h2>
							<ul>
								<li><a href="course-grid.html">Cursos</a></li>
								<li><a href="login.html">Iniciar sesión</a></li>
								<li><a href="register.html">Registrarse</a></li>
							</ul>
						</div>
						<!-- /Footer Widget -->

					</div>

					<div class="col-lg-4 col-md-6">

						<!-- Footer Widget -->
						<div class="footer-widget footer-contact">
							<h2 class="footer-title">Contacto</h2>
							<div class="footer-contact-info">
								<div class="footer-address">
									<img src="/assets/img/icon/icon-20.svg" alt="" class="img-fluid">
									<p> C. Tulipán, s/n, Móstoles<br> Madrid, 28933</p>
								</div>
								<p>
									<img src="/assets/img/icon/icon-19.svg" alt="" class="img-fluid">
									<a href="mailto:tatademy@gmail.com">tatademy@gmail.com</a>
								</p>
							</div>
						</div>
						<!-- /Footer Widget -->

					</div>

				</div>
			</div>
		</div>
				<!-- /Footer Top -->
	
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="container">
	
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6">
									<div class="privacy-policy">
										<ul>
											<li><a href="term-condition.html">Terminos y condiciones</a></li>
											<li><a href="privacy-policy.html">Política de privacidad</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2024 DAW G1. Todos los derechos reservados.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
	
					</div>
				</div>
				<!-- /Footer Bottom -->
	
			</footer>
			<!-- /Footer -->
		   
		</div>
	   	<!-- /Main Wrapper -->   
	  
		<!-- jQuery -->
		<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/jquery-3.7.1.min.js"></script>

		<!-- Bootstrap Core JS -->
		<script src="/assets/js/bootstrap.bundle.min.js"></script>

		<!-- Feature JS -->
		<script src="/assets/plugins/feather/feather.min.js"></script>

		<!-- Sticky Sidebar JS -->
        <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

        <!-- Chart JS -->
		<script src="/assets/plugins/apexchart/apexcharts.min.js"></script>
		<script src="/assets/plugins/apexchart/chart-data.js"></script>

		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
	</body>
</html>}}