{{>header}}			


<!-- Course Content -->
<section class="page-content course-sec">
	<div class="container">
	
		<div class="row">
			<div class="col-12">
				
				<!-- Reviews -->
				{{#reviewDataList}}
				<div class="card review-sec">
				    <div class="card-body">
				        <div class="instructor-wrap">
				            <div class="about-instructor">
				                <div class="abt-instructor-img">
				                    <a href="/course-details/{{review.course.id}}">
				                        <img src="data:image/jpeg;base64,{{base64EncodedImage}}" alt="img" class="img-fluid">
				                    </a>
				                </div>
				                <div class="instructor-detail">
				                    <h5><a href="/course-details/{{review.course.id}}">{{review.course.name}}</a></h5>
				                </div>
				            </div>
				            <!-- Fill or not the star depending on the {{review.starsValue}} -->
				            <div class="rating" data-stars="{{review.starsValue}}">
				                <i class="fas fa-star"></i>
				                <i class="fas fa-star"></i>
				                <i class="fas fa-star"></i>
				                <i class="fas fa-star"></i>
				                <i class="fas fa-star"></i>
				                <span class="d-inline-block average-rating">{{review.starsValue}}</span>
				            </div>
				           <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
							<script>
							$(document).ready(function() {
								$('.rating').each(function() {
									var stars = $(this).data('stars');
									$(this).find('.fa-star').slice(0, stars).addClass('filled');
								});
							});
							</script>
							<!-- End of fill stars-->
				        </div>
				        <p class="rev-info">{{review.description}}</p>
				    </div>
				</div>
				{{/reviewDataList}}
			</div>
		</div>	
	</div>
</section>


{{>footer}}