{{>header}}
			
			<!--Dashbord Student -->
			<div class="page-content">
				<div class="container">
					<div class="row">
						
						<!-- sidebar -->
					<div class="col-xl-3 col-md-4 theiaStickySidebar">
						<div class="settings-widget dash-profile mb-3">
							<div class="settings-menu p-0">
								<div class="profile-bg">
									<img src="/assets/img/profile-bg.jpg" alt="">
									<div class="profile-img">
										{{#userImage}}
										<img src="data:image/jpeg;base64,{{userImage}}" alt="{{userName}}">
										{{/userImage}}
										{{^userImage}}
										<img src="/assets/img/user/default-user-icon.jpg" alt="{{userName}}">
										{{/userImage}}
									</div>
								</div>
								<div class="profile-group">
									<div class="profile-name text-center">
										<h4>{{name}} {{surname}}</h4>
										<p>Estudiante registrado</p>
									</div>
								</div>
							</div>
						</div>
						<div class="settings-widget account-settings">
							<div class="settings-menu">
								<h3>Ajustes Generales</h3>
								<ul>
									<li class="nav-item">
										<a href="/user/setting-edit-profile" class="nav-link">
											<i class="feather-settings"></i> Editar Perfil
										</a>
									</li>
									<li class="nav-item active">
										<a href="#" class="nav-link">
											<i class="feather-lock"></i> Cambiar contraseña
										</a>
									</li>
									<li class="nav-item">
									<a href="/user/dashboard" class="nav-link"> <i
											class="feather-pie-chart"></i>Estadísticas
									</a></li>
									<li class="nav-item">
										<a href="/user/setting-student-delete-profile" class="nav-link">
											<i class="feather-trash-2"></i> Borrar Perfil
										</a>
									</li>
									
									<li class="nav-item">
										<a href="/user/logout" class="nav-link">
											<i class="feather-power"></i> Cerrar Sesión
										</a>
									</li>
									
									
								</ul>
							</div>
						</div>					
					</div>
					<!-- /sidebar -->
						
						
						<!-- Student Security -->
						<div class="col-xl-9 col-md-8">	
							<div class="settings-widget profile-details">
								<div class="settings-menu p-0">
									<div class="profile-heading">
										<h3>Cambiar contraseña</h3>
										</div>
				
									<div class="checkout-form personal-address">
										<div class="personal-info-head">
											<p>Introduce tu antigua contraseña y despues escribe dos veces tu nueva contraseña.</p>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<form action="/user/update-password" method="post" enctype="multipart/form-data" accept-charset="utf-8">
												<input type="hidden" name="_csrf" value="{{token}}"/>
													<div class="input-block">
														<label class="form-control-label">Contraseña actual</label>
														<input name="currentpassword" type="password" class="form-control" >
													</div>
													<div class="input-block">
														<label class="form-control-label">Nueva contraseña</label>
														<div class="pass-group" id="passwordInput">																	
															<input name="pass1" type="password" class="form-control pass-input" placeholder="********">
														</div>
														<div  class="password-strength" id="passwordStrength">
															<span id="poor"></span>
															<span id="weak"></span>
															<span id="strong"></span>
															<span id="heavy"></span>
														</div>
														<div id="passwordInfo"></div>	
													</div>
													<div class="input-block">
														<label class="form-control-label">Confirmar contraseña</label>
														<input name="pass2" type="password" class="form-control" placeholder="********">
													</div>
													<div class="update-profile save-password">
														<button class="btn btn-primary" type="submit">Guardar contraseña</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<!-- Student Security -->
						
					</div>
				</div>
			</div>	
			<!-- /Dashbord Student -->

{{>footer}}