{{#users}}
									<div class="course-group mb-0 d-flex">
										<div class="course-group-img d-flex align-items-center">
											<a href="instructor-profile.html">
												{{#image}}
												<img src="{{image}}" alt="" class="img-fluid">
												{{/image}}
												{{^image}}
												<img src="/assets/img/user/default-user-icon.jpg" alt="" class="img-fluid">
												{{/image}}
											</a>
											<div class="course-name">
												<h4><a href="instructor-profile.html">{{name}} {{surname}}</a></h4>
												<p>{{email}}</p>
												
											</div>
										</div>
										<div class="profile-share d-flex align-items-center justify-content-center">
											<form action="/admin/update" method="post">
												<input type="hidden" name="_csrf" value="{{token}}"/>
												<input type="hidden" value="{{id}}" name="userId">
											<input class="btn btn-success" type="submit" value="Actualizar">
											</form>
											<form action="/admin/delete" method="post">
												<input type="hidden" name="_csrf" value="{{token}}"/>
												<input type="hidden" value="{{id}}" name="userId">
											<input class="btn btn-danger" type="submit" value="Eliminar">
											</form>
										</div>
									</div>
{{/users}}